@charset "UTF-8";
body {
  font-family: "Roboto";
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

link {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

*:focus {
  outline: none;
}

.header-container {
  display: flex;
  align-items: center;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid #ECECEC;
}

.header-title {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  margin-right: 90px;
  /* animation-name: header-title;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
}

/* @keyframes header-title {
    0% {
        left: -500px;
    }
    100% {
        left: 0;
    }
} */
.logo {
  color: #212121;
}

.logo2 {
  color: #ffffff;
}

.header-list {
  display: flex;
  justify-content: left;
  gap: 50px;
  margin-right: auto;
}

.header-list2 {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 50px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list2 .header-links:hover .header-svg {
  fill: #2196f3;
}

.header-list2 .header-links:focus .header-svg {
  fill: #2196f3;
}

.header-item {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.header-items {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  display: flex;
  align-items: center;
}

.header-svg {
  fill: #757575;
  padding-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-svg:hover {
  fill: #2196f3;
}

.header-link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-decoration: none;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover {
  color: #2196f3;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.header-link::after {
  content: "";
  border-radius: 2px;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  display: block;
  /* margin-top: 28px; */
  position: absolute;
  top: 44px;
  left: 0;
  opacity: 0;
}

.header-link:hover::after {
  opacity: 1;
  /* transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.header-link-line {
  color: #2196f3;
}

.header-link-line::after {
  content: "";
  border-radius: 2px;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  display: block;
  /* margin-top: 28px; */
  position: absolute;
  top: 44px;
  left: 0;
  opacity: 1;
}

.header-link:focus {
  color: #2196f3;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.header-links {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-links:hover {
  color: #2196f3;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  display: flex;
  align-items: center;
}

.header-links:focus {
  color: #2196f3;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  display: flex;
  align-items: center;
}

.buttons-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 50px;
}

.buttons-btn {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
  border-radius: 4px;
  border-style: none;
  background: #f5f4fa;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  animation: buttons-btn 11s linear infinite;
}

.buttons-item:nth-child(1) .buttons-btn {
  animation-delay: 1s;
}

.buttons-item:nth-child(2) .buttons-btn {
  animation-delay: 2s;
}

.buttons-item:nth-child(3) .buttons-btn {
  animation-delay: 3s;
}

.buttons-item:nth-child(4) .buttons-btn {
  animation-delay: 4s;
}

.buttons-item:nth-child(5) .buttons-btn {
  animation-delay: 5s;
}

@keyframes buttons-btn {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(0, -10px);
  }
  20% {
    transform: translate(0, -20px);
  }
  30% {
    transform: translate(0, -30px);
  }
  40% {
    transform: translate(0, -40px);
  }
  50% {
    transform: translate(0, -50px);
  }
  60% {
    transform: translate(0, -40px);
  }
  70% {
    transform: translate(0, -30px);
  }
  80% {
    transform: translate(0, -20px);
  }
  90% {
    transform: translate(0, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.buttons-btn:hover {
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
}

.buttons-btn:focus {
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
}

.everyone {
  padding-bottom: 94px;
}

.everyone-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.ovarlay-proba {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.everyone-item {
  border: 1px solid #EEE;
  flex-grow: 1;
  flex-basis: calc((100% - 60px) / 4);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* flex-basis: calc((100% - 60px)/ 4); або     flex-basis: calc((100% - 90px)/ 3); */
}

.everyone-item:hover .everyone-overlay {
  transform: translatey(0);
  opacity: 1;
  transition: transform 250ms ease-in-out, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.everyone-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translatey(100%);
  transition: transform 250ms ease-in-out, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.everyone-overlay-text {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.54px;
  padding: 63px 24px;
  width: 322px;
  height: 168px;
}

.everyone-item:hover {
  border: 1px solid #EEE;
  background: #FFF;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.everyone-item:focus {
  border: 1px solid #EEE;
  background: #ffffff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.everyone-foto {
  /* width: 370px; */
  /* height: 294px; */
  padding-bottom: 20px;
  overflow: hidden;
  display: block;
}

.everyone-title {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px; /* 200% */
  letter-spacing: 1.08px;
  margin-left: 24px;
  margin-right: 24px;
  padding-bottom: 4px;
}

.everyone-name {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.48px;
  margin-left: 24px;
  margin-right: 24px;
  padding-bottom: 20px;
}

.footer {
  background: #2f303a;
}

.footer-title {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.footer-text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  text-decoration: none;
}

/* .footer-link-svg:hover {
    width: 44px;
    height: 44px;
    background-color: #2196F3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.footer-link-svg:focus {
    width: 44px;
    height: 44px;
    background-color: #2196F3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
} */
footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-title {
  width: 145px;
  height: 31px;
  margin-bottom: 20px;
}

.footer-text {
  width: 231px;
  height: 21px;
  margin-bottom: 9px;
  margin-right: 70px;
}

.footer-list {
  width: 231px;
  height: 31px;
  margin-bottom: 9px;
}

.footer-item {
  margin-bottom: 9px;
}

.footer-svg-subtitle {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 12px;
}

.footer-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-svg-list {
  display: flex;
  gap: 10px;
}

.footer-svg-item {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-svg-item:hover {
  width: 44px;
  height: 44px;
  background-color: #2196f3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.footer-svg-item:focus {
  width: 44px;
  height: 44px;
  background-color: #2196f3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.svg-wraper {
  display: flex;
}

.footer-subscribe-title {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-left: 93px;
  padding-top: 12px;
}

.footer-subscribe-input {
  width: 350px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-right: 12px;
  margin-left: 93px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
  padding-left: 16px;
}

.footer-subscribe-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #2196f3;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 26px;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-subscribe-svg {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  padding-right: 28px;
}

.footer-subscribe-wraper {
  display: flex;
}/*# sourceMappingURL=portfolio.css.map */