@charset "UTF-8";
body {
  font-family: "Roboto";
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

link {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

*:focus {
  outline: none;
}

.everyone__name {
  font-size: 16px;
  font-weight: 400px;
  color: #757575;
  letter-spacing: 0.48px;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid #ECECEC;
  /* @keyframes header-title {
      0% {
          left: -500px;
      }
      100% {
          left: 0;
      }
  } */
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.header__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.header__logo {
  color: #212121;
}
.header__logo2 {
  color: #ffffff;
}
.header__title {
  font-size: 26px;
  font-weight: 700;
  color: #2196f3;
  font-family: Raleway;
  letter-spacing: 0.78px;
  margin-right: 90px;
  /* animation-name: header-title;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
}
.header__list {
  display: none;
  gap: 50px;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}
.header__list2 {
  display: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header__list2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .header__list2 {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-wrap: nowrap;
    gap: 30px;
  }
}
.header__list2 .header__links:hover .header__svg {
  fill: #2196f3;
}
.header__list2 .header__links:focus .header__svg {
  fill: #2196f3;
}
.header__item {
  font-size: 14px;
  font-weight: 500;
  color: #212121;
  letter-spacing: 0.28px;
}
.header__items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 14px;
  font-weight: 500;
  color: #757575;
  letter-spacing: 0.28px;
}
.header__svg {
  fill: #757575;
  padding-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header__svg {
    margin-left: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .header__svg {
    margin-left: 0;
  }
}
.header__svg:hover {
  fill: #2196f3;
}
.header__link {
  font-size: 14px;
  font-weight: 500;
  color: #212121;
  letter-spacing: 0.28px;
  text-decoration: none;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover {
  font-size: 14px;
  font-weight: 500;
  color: #2196f3;
  letter-spacing: 0.28px;
}
.header__link:focus {
  font-size: 14px;
  font-weight: 500;
  color: #2196f3;
  letter-spacing: 0.28px;
}
.header__link::after {
  content: "";
  border-radius: 2px;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  display: block;
  position: absolute;
  top: 44px;
  left: 0;
  opacity: 0;
}
.header__link:hover::after {
  opacity: 1;
  /* transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.header__link-line {
  color: #2196f3;
}
.header__link-line::after {
  content: "";
  border-radius: 2px;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  display: block;
  /* margin-top: 28px; */
  position: absolute;
  top: 44px;
  left: 0;
  opacity: 1;
}
.header__links {
  font-size: 12px;
  font-weight: 500;
  color: #757575;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  letter-spacing: 0.28px;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .header__links {
    font-size: 14px;
    font-weight: 500;
    color: #757575;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.header__links:hover {
  font-size: 14px;
  font-weight: 500;
  color: #2196f3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  letter-spacing: 0.28px;
}
.header__links:focus {
  font-size: 14px;
  font-weight: 500;
  color: #2196f3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  letter-spacing: 0.28px;
}
.header__burger-btn {
  background-color: chartreuse;
  width: 40px;
  height: 40px;
  border: none;
}

.buttons__list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 40px;
  gap: 8px;
  max-width: 333px;
}
@media screen and (min-width: 768px) {
  .buttons__list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding-top: 94px;
    padding-bottom: 50px;
    max-width: none;
  }
}
.buttons__btn {
  font-size: 16px;
  font-weight: 500;
  color: #212121;
  text-align: center;
  line-height: 162%;
  letter-spacing: 0.48px;
  border-radius: 4px;
  border-style: none;
  background: #f5f4fa;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .buttons__btn {
    line-height: 26px; /* 162.5% */
    padding: 6px 22px;
    animation: buttons-btn 11s linear infinite;
  }
}
.buttons__btn:hover {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
}
.buttons__btn:focus {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
}
.buttons__item:nth-child(1) .buttons__btn {
  animation-delay: 1s;
}
.buttons__item:nth-child(2) .buttons__btn {
  animation-delay: 2s;
}
.buttons__item:nth-child(3) .buttons__btn {
  animation-delay: 3s;
}
.buttons__item:nth-child(4) .buttons__btn {
  animation-delay: 4s;
}
.buttons__item:nth-child(5) .buttons__btn {
  animation-delay: 5s;
}
@keyframes buttons-btn {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(0, -10px);
  }
  20% {
    transform: translate(0, -20px);
  }
  30% {
    transform: translate(0, -30px);
  }
  40% {
    transform: translate(0, -40px);
  }
  50% {
    transform: translate(0, -50px);
  }
  60% {
    transform: translate(0, -40px);
  }
  70% {
    transform: translate(0, -30px);
  }
  80% {
    transform: translate(0, -20px);
  }
  90% {
    transform: translate(0, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.everyone {
  padding-top: 0;
  padding-bottom: 50px;
}
.everyone__list {
  gap: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.everyone__item {
  border: 1px solid #EEE;
  flex-grow: 1;
  flex-basis: calc((100% - 60px) / 4);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* flex-basis: calc((100% - 60px)/ 4); або     flex-basis: calc((100% - 90px)/ 3); */
}
.everyone__item:hover {
  border: 1px solid #EEE;
  background: #FFF;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.everyone__item:focus {
  border: 1px solid #EEE;
  background: #ffffff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.everyone__item:hover .everyone__overlay {
  transform: translatey(0);
  opacity: 1;
  transition: transform 250ms ease-in-out, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.everyone__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translatey(100%);
  transition: transform 250ms ease-in-out, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.everyone__overlay-text {
  font-size: 18px;
  font-weight: 400px;
  color: #ffffff;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.54px;
  padding: 63px 24px;
  width: 322px;
  height: 168px;
}
.everyone__foto {
  padding-bottom: 20px;
  overflow: hidden;
  display: block;
}
.everyone__title {
  font-size: 18px;
  font-weight: 400px;
  color: #212121;
  line-height: 36px; /* 200% */
  letter-spacing: 1.08px;
  margin-left: 24px;
  margin-right: 24px;
  padding-bottom: 4px;
}
.everyone__name {
  line-height: 30px; /* 187.5% */
  margin-left: 24px;
  margin-right: 24px;
  padding-bottom: 20px;
}
.everyone__ovarlay-proba {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}
.footer__title {
  font-size: 26px;
  font-weight: 500;
  color: #2196f3;
  font-family: Raleway;
  letter-spacing: 0.78px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__title {
    width: 145px;
    height: 31px;
  }
}
.footer__logo {
  color: #212121;
}
.footer__logo2 {
  color: #ffffff;
}
.footer__text {
  font-size: 14px;
  font-weight: 400px;
  color: #ffffff;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  margin-bottom: 9px;
}
@media screen and (min-width: 1200px) {
  .footer__text {
    width: 231px;
    height: 21px;
    margin-right: 70px;
    text-align: start;
  }
}
.footer__link {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.6);
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  text-decoration: none;
}
.footer__list {
  margin-bottom: 9px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__list {
    width: 231px;
    height: 31px;
    text-align: start;
  }
}
.footer__item {
  margin-bottom: 9px;
}
.footer__svg-subtitle {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 60px;
  padding-top: 12px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__svg-subtitle {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__svg-subtitle {
    text-align: start;
    margin-top: 0;
  }
}
.footer__svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
.footer__svg-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer__svg-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.footer__svg-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__svg-item:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 44px;
  height: 44px;
  background-color: #2196f3;
  border-radius: 50%;
}
.footer__svg-item:focus {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 44px;
  height: 44px;
  background-color: #2196f3;
  border-radius: 50%;
}
.footer__subscribe-title {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__subscribe-title {
    padding-top: 12px;
    text-align: start;
  }
}
.footer__subscribe-input {
  font-size: 16px;
  font-weight: 400px;
  color: #ffffff;
  width: 350px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-right: 12px;
  margin-left: 93px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
  padding-left: 16px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .footer__subscribe-input {
    margin-bottom: 0;
    margin-right: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__subscribe-input {
    margin-bottom: 0;
    margin-right: 12px;
  }
}
.footer__subscribe-btn {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  gap: 10px;
  background-color: #2196f3;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 26px;
  text-align: center;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .footer__subscribe-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.footer__subscribe-svg {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  padding-right: 28px;
}
@media screen and (min-width: 768px) {
  .footer__subscribe-wraper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer__subscribe-wraper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 768px) {
  .footer__svg-wraper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer__svg-wraper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}
.footer__containerrrrrrrrr {
  text-align: center;
}

/* &__link-svg:hover {
    width: 44px;
    height: 44px;
    background-color: #2196F3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.footer-link-svg:focus {
    width: 44px;
    height: 44px;
    background-color: #2196F3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
} *//*# sourceMappingURL=portfolio.css.map */