.buttons {

    &__list {
        @include flexbox( $aligh: flex-start, $wrap: nowrap );
        @include padding-section($b: 50px);
        gap: 8px;
        // display: flex;
        // justify-content: center;

        // padding-top: 94px;
        // padding-bottom: 50px;
    }
    
    
    &__btn {
        @include text ($size: 16px, $weight: 500,  $color:$texttitle-color);
        text-align: center;
        line-height: 26px; /* 162.5% */
        letter-spacing: 0.48px;   
        border-radius: 4px;
        border-style: none;
        background:$secondbackground;
        padding:6px 22px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        animation: buttons-btn 11s linear infinite;

        &:hover {
            @include text($size: 16px, $weight: 500);
            border-radius: 4px;
            background: $accent-color;
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
            text-align: center;
            line-height: 26px; /* 162.5% */
            letter-spacing: 0.48px;  
        }
        
        &:focus {
            @include text($size: 16px, $weight: 500);
            border-radius: 4px;
            background: $accent-color;
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
            text-align: center;
            line-height: 26px; /* 162.5% */
            letter-spacing: 0.48px;  
        }
        
    }
    
    &__item:nth-child(1) &__btn {
        animation-delay: 1s;
    }
    &__item:nth-child(2) &__btn {
        animation-delay: 2s;
    }
    &__item:nth-child(3) &__btn {
        animation-delay: 3s;
    }
    &__item:nth-child(4) &__btn  {
        animation-delay: 4s;
    }
    &__item:nth-child(5) &__btn  {
        animation-delay: 5s;
    }
    
    
    @keyframes buttons-btn {
        0% {
            transform: translate(0, 0);
    
        }
        10% {
            transform: translate(0, -10px);
        }
        20% {
            transform: translate(0, -20px);
        }
        30% {
            transform: translate(0, -30px);
        }
        40% {
            transform: translate(0, -40px);
        }
        50% {
            transform: translate(0, -50px);
        }
        60% {
            transform: translate(0, -40px);
        }
        70% {
            transform: translate(0, -30px);
        }
        80% {
            transform: translate(0, -20px);
        }
        90% {
            transform: translate(0, -10px);
        }
        100%{
            transform: translate(0, 0);
        }
    }
    
}

