.effective {
    @include flexbox( $aligh: flex-start, $wrap: nowrap,  $justify: flex-start );
    @include padding-section ($t: 200px, $b: 200px);
    position: relative;
    // display: flex; 
    margin-left: auto;
    margin-right: auto;
    // padding-top: 200px;
    // padding-bottom: 200px;
    background:$background-color;  
    background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../foto/zagalkart.webp) ;
    background-repeat: no-repeat;
    background-size: cover;

    &__title {
      @include text($size: 44px, $weight: 900);
      text-align: center;
      line-height: 60px; /* 136.364% */
      letter-spacing: 2.64px;
      text-transform: uppercase;
      margin-right: auto;
      margin-left: auto;
      max-width: 696px;
      margin-bottom: 30px;
  }
  
  &__btn {
      @include text($size: 16px, $weight: 700);
      text-align: center;
      line-height: 30px; /* 187.5% */
      letter-spacing: 0.96px;
      border-radius: 4px;
      border: none;
      background: $accent-color;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
      padding: 10px 32px;
      display: block;
      margin-right: auto;
      margin-left: auto;
      animation-name: effective-btn;
      animation-duration: 4s;
      animation-iteration-count: infinite;
  }
  
  
  @keyframes effective-btn {
      0% {
          background: $accent-color;
      }
      25% {
          background-color: rebeccapurple;
      }
      100% {
          background: $accent-color;
      }
  }
  
  
 
  
  &__backdrop {
      @include flexbox($wrap: nowrap);
      // display: flex;
      // align-items: center;
      // justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 5;
      transition: opacity 650ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  &__modal-btn-cross {
      @include flexbox($wrap: nowrap);
      // display: flex;
      // justify-content: center;
      // align-items: center;
      position: absolute;
      top: 8px;
      right: 8px;
      padding: 6px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #FFF ;
      border-color:rgba(0, 0, 0, 0.10);
      
      cursor: pointer;
    }
  
    &__modal-svg {
      fill:rgba(33, 33, 33, 1);
      stroke-width: 1px;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  &__modal-svg:hover {
      fill: $accent-color;
      stroke-width: 1px;
  }
  
  &__modal-svg:focus {
      fill: $accent-color;
      stroke-width: 1px;
  }
  
    &__modal {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 4px;
      background-color: $text-color; 
      /* display: flex;
      align-items: center;
      justify-content: center; */
      top: 50%;
      left: 50%;
      z-index: 3;
      transform:  translate(-50%, -50%);
      transition: visibility 2s cubic-bezier(0.4, 0, 0.2, 1), transform 3s cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    &__form {
      padding: 40px;
  
    }
  
    &__form-title {
      @include text($size: 20px, $weight: 700px, $color: $texttitle-color);
      text-align: center;
      line-height:1,15;
      letter-spacing: 0.6px;
    }
  
  &__list {
      display: flex;
      flex-direction: column;
      gap: 10px;
  }
  
  &__item {
      position: relative;
  }
  
  &__item:nth-child(1) {
      margin-top: 12px;
  }
  
    &__name {
      @include text($size: 12px, $color: $subtitle-color);
      line-height: 1,15;
      letter-spacing: 0.12px;

    }
  
    &__input {
      padding-left: 42px;
      padding-right: 12px;
      display: block;
      margin-top: 4px;
      width: 436px;
      height: 40px;
      border-radius: 4px;
      border: 1px solid rgba(33, 33, 33, 0.20);
      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
  &__input:hover {
      border: 1px solid $accent-color;
  }
  
  &__input:focus {
      border: 1px solid $accent-color;
  }
  
  &__input:hover + &__name-svg {
      fill: $accent-color;
  }
  
  &__input:focus + &__name-svg {
      fill: $accent-color;
  }
  
  
    &__name-svg {
      position: absolute;
      left: 12px;
      top: 33px;
    }
  
  
    &__list &__item:nth-child(4) &__input {
      width: 448px;
      height: 120px;
    }
  
  /* &__chek-wrapper {
      display: flex;
      align-items: center;
  } */
  
    &__chek {
      @include text($size: 20px, $weight: 700px, $color: $subtitle-color);
      margin-top: 25px;
      margin-bottom: 30px;
      margin-left: 14px;
      margin-right: 7px;
      line-height: 24px; /* 171.429% */
      letter-spacing: 0.42px;
      
    }
  
    &__chek:focus {
      @include text($color: $subtitle-color);
      margin-top: 25px;
      margin-bottom: 30px;
      margin-left: 14px;
      margin-right: 7px;
      
      line-height: 24px; /* 171.429% */
      letter-spacing: 0.42px;
    }
  
  &__input-last {
      display: block;
      padding-top: 12px;
      padding-left: 16px;
      padding-bottom: 94px;
      padding-right: 12px;
      margin-top: 4px;
      margin-bottom: 20px;
      width: 463px;
      border-radius: 4px;
      border: 1px solid rgba(33, 33, 33, 0.20);
      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  &__input-last:hover {
      border: 1px solid $accent-color;
  }
  
  &__input-last:focus {
      border: 1px solid $accent-color;
  }
  
  &__input-last:hover + &__name-svg {
      fill: $accent-color;
  }
  
  &__input-last:focus + &__name-svg {
      fill: $accent-color;
  }
  
  
  &__input-last::placeholder {
      @include text($size: 12px);
      position: absolute;
      top: 12px;
      left: 16px;
      color: rgba(117, 117, 117, 0.50);
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.12px;
  }
  
  
  &__link {
      @include text($color:$accent-color);
      line-height: 24px;
      letter-spacing: 0.42px;
      text-decoration-line: underline;
  }
  
    &__btn-modal {
      @include text($size: 16px, $weight: 700);
      display: block;
      margin-right: auto;
      margin-left: auto;
      border: none;
      border-radius: 4px;
      background: $accent-color;
      text-align: center;
      // font-size: 16px;
      // font-weight: 700;
      line-height: 30px; /* 187.5% */
      letter-spacing: 0.96px;
      padding: 10px 52px;
      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    &__btn-modal:hover {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }
  
    &__btn-modal:focus {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }
    .is-hidden {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .is-hidden &__modal {
      transform: translate(0);
    }
     
}


