.footer {
    @include padding-section($t: 60px, $b: 60px);
    background:$background-color;
    // padding-top: 60px;
    // padding-bottom: 60px;

    &__title {
        @include text($size:26px, $weight:500, $color:$accent-color);
        font-family: Raleway;
        letter-spacing: 0.78px;    
        width: 145px;
        height: 31px;
        margin-bottom: 20px;
    }
    
    &__logo {
        color:$texttitle-color;
    }
    
    &__logo2 {
        color: $text-color;
    }

    &__text {
        @include text();
        line-height: 24px; /* 171.429% */
        letter-spacing: 0.42px;   
        width: 231px;
        height: 21px;
        margin-bottom: 9px;
        margin-right: 70px;
    }
    
    &__link {
        @include text($weight: 500);
        color: rgba(255, 255, 255, 0.60);
        line-height: 24px; /* 171.429% */
        letter-spacing: 0.42px;

        text-decoration: none;  
    }
    
    
    
    &__list {
        width: 231px;
        height: 31px;
        margin-bottom: 9px;
    }
    
    &__item {
        margin-bottom: 9px;
    }
    
    &__svg-subtitle {
        @include text($weight: 700);
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 20px;
        padding-top: 12px;
    }
    
    &__svg {
        width: 20px;
        height: 20px;
        fill: $text-color;
    }
    
    &__svg-list {
        display: flex;
        gap: 10px;
    }
    
    &__svg-item {
        @include flexbox( $wrap: wrap );
        width: 44px;
        height: 44px;
        background-color: rgba(255, 255, 255, 0.10);
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            @include flexbox( $wrap: wrap );
            width: 44px;
            height: 44px;
            background-color: $accent-color;
            border-radius: 50%;
        }
        
        &:focus {
            @include flexbox( $wrap: wrap );
            width: 44px;
            height: 44px;
            background-color: $accent-color;
            border-radius: 50%;
        }
    }
      
    
    &__subscribe-title {
        @include text( $weight:700);
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-left: 93px;
        padding-top: 12px;
    }
    
    &__subscribe-input {
        @include text($size: 16px);
        width: 350px;
        height: 50px;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.30);
        background: rgba(33, 150, 243, 0.00);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        margin-right: 12px;
        margin-left: 93px;
    
        color: rgba(255, 255, 255, 0.60);
        line-height: 20px; /* 125% */
        letter-spacing: 0.48px;
        padding-left: 16px;
    }
    
    &__subscribe-btn{
        @include text($size:16px, $weight: 700);
        @include flexbox ($justify: flex-start, $wrap: nowrap);
        // display: flex;
        // align-items: center;
        gap: 10px;
        background-color: $accent-color;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 26px;
        text-align: center;
        line-height: 30px; /* 187.5% */
        letter-spacing: 0.96px;
        border: none;
        width: 200px;
        height: 50px;
        border-radius: 4px;
        background: $accent-color;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }
    
    &__subscribe-svg {
        fill: $text-color;
        width: 24px;
        height: 24px;
        padding-right: 28px;
    }
    
    &__subscribe-wraper {
        display: flex;
    }

    &__svg-wraper {
        display: flex;
    }
}







/* &__link-svg:hover {
    width: 44px;
    height: 44px;
    background-color: #2196F3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.footer-link-svg:focus {
    width: 44px;
    height: 44px;
    background-color: #2196F3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
} */











