.section {
    @include padding-section ( $b: 118px);
    // padding-bottom: 118px;
    // padding-top: 94px;

    &__list {
        @include flexbox($aligh: flex-start, $justify: space-evenly);

        @media screen and (min-width: 768px) {
            @include flexbox($aligh: flex-start, $justify: space-evenly);

          }
      
          @media screen and (min-width: 1200px) {
            @include flexbox($aligh: flex-start, $justify: space-evenly, $wrap: nowrap);
            
          }
    }

    
    &__title {
        @include text($weight: 700, $color: $texttitle-color);
        text-align: center;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        max-width: 450px;
        margin-bottom: 10px;

        @media screen and (min-width: 768px) {
            max-width: 354px;
            text-align: start;
          }
      
          @media screen and (min-width: 1200px) {
            text-align: start;
            max-width: 270px;
          }
    }
    
    &__text {
        @include text($color: $subtitle-color);
        line-height: 24px; /* 171.429% */
        letter-spacing: 0.42px;

        margin-top: 20px; 
        max-width: 450px;
        display: flex;
        gap: 30px;

        @media screen and (min-width: 768px) {
            max-width: 354px;
            padding-bottom: 30px;
          }
      
          @media screen and (min-width: 1200px) {
            max-width: 270px;
            padding-bottom: 30px;
          }
    }


    
    &__item {
        max-width: 450px;
        @media screen and (min-width: 768px) {
            max-width: 354px;
          }
      
          @media screen and (min-width: 1200px) {
            max-width: 270px;
          }
    }


    &__item:nth-child(1)::before {
        content: "";
        display: block;
        background-image: url("../foto/antenna\ 1.svg");
        width: 450px;
        height: 120px;
        background-color: $secondbackground;
        border-radius: 4px;
        background-size:auto;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 30px;

        @media screen and (min-width: 768px) {
            width: 354px;
        }
        @media screen and (min-width: 1200px) {
            width: 270px;
        }

    }
    
    &__item:nth-child(2)::before {
        content: "";
        display: block;
        background-image: url("../foto/clock\ 1.svg");
        width: 450px;
        height: 120px;
        background-color: $secondbackground;
        border-radius: 4px;
        background-size:auto;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 30px;

        @media screen and (min-width: 768px) {
            width: 354px;
        }
        @media screen and (min-width: 1200px) {
            width: 270px;
        }

    }
    
    &__item:nth-child(3)::before {
        content: "";
        display: block;
        background-image: url("../foto/diagram\ 1.svg");
        width: 450px;
        height: 120px;
        border-radius: 4px;
        background-color: $secondbackground;
        background-size:auto;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 30px;

        @media screen and (min-width: 768px) {
            width: 354px;
        }
        @media screen and (min-width: 1200px) {
            width: 270px;
        }

    }
    
    &__item:nth-child(4)::before {
        content: "";
        display: block;
        background-image: url("../foto/astronaut\ 1.svg");
        width: 450px;
        height: 120px;
        border-radius: 4px;
        background-color: $secondbackground;
        background-size:auto;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 30px;

        @media screen and (min-width: 768px) {
            width: 354px;
        }
        @media screen and (min-width: 1200px) {
            width: 270px;
        }

    }
}

