.team-list {
    display: flex;
    justify-content: space-around;
}

.team {
    background:$secondbackground;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-item {
    border-radius: 0px 0px 4px 4px;
background: $text-color;
box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
padding-bottom: 30px;
}

.team-title {
    color: $texttitle-color;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 50px; 
}

.team-foto {
    width: 270px;
    height: 260px;
    flex-shrink: 0; 
    margin-bottom: 30px; 
}

.team-subtitle {
    color:$texttitle-color;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px; 
    margin-bottom: 10px;   
}

.team-text {
    color: $subtitle-color;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;  
    margin-bottom: 16px;
    
}
.team-svg-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team-svg-item {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-svg-item:hover {
    width: 44px;
    height: 44px;
    fill: $text-color;
    background-color: $accent-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.team-svg-item:focus {
    width: 44px;
    height: 44px;
    fill: $text-color;
    background-color:$accent-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.team-svg {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
}
  
.team-svg:hover {
    width: 20px;
    height: 20px;
    fill: $text-color;
}

.team-svg:focus {
    width: 20px;
    height: 20px;
    fill: $text-color;
}
  
  .team-svg-list .team-svg-item:hover .team-svg {
    fill: $text-color;
  }

  .team-svg-list .team-svg-item:focus .team-svg {
    fill: $text-color;
  }
