.todo {
    padding-bottom: 94px;

    &__list {
        display: flex;
        justify-content: space-around;
        
    }
    
    &__item {
        position: relative;
        margin: 10px;
        overflow: hidden;
        background-color: $text-color;
    }
    
    &__item > &__text {
        position: absolute;
        /* top: 224px; */
        bottom: 0;
        right: 0;
        width: 370px;
        /* height: 70px; */
        color: $text-color;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        background-color:rgba(47, 48, 58, 0.8);
    
    
        opacity: 0; 
        transition: opacity 0.9s ease; 
    }
    
    &__item:hover > &__text {
        opacity: 1;
    }
    
    &__text {
        padding-top: 27px;
        padding-bottom: 27px;
    }
    
    &__title {
        color: $texttitle-color;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 1.08px;
        margin-bottom: 50px;
    }
    
    &__foto {
        width: 370px;
        height: 294px;
        flex-shrink: 0;
    }
}

